.main-inputs-container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-items: center;
  row-gap: 25px;
}

.input-fields {
  display: flex;
  padding: 3px 25px;
  width: 28vw;
  text-align: center;
  font-size: var(--font-size);
}
