.main-app-container {
  width: 30vw;
  margin: 15vh auto;
  height: 100%;
  padding: 10px 0px;
  background-color: lightcoral;
}

.faqs-link-container {
  display: flex;
  justify-content: center;
  width: 7vw;
  margin: 25px auto;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
  color: blue;
}
